.register{
    /* height: calc(100vh - 100px); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(255,255,255,.5),rgba(255,255,255,.5)), url("../../assets/img/header.jpg") repeat;
    background-size: cover;
}
.registerTitle{
    font-size: 50px;
}
.registerForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 25%;
    min-width: 300px;
}
.registerForm>label{
    margin: 10px 0;
    display: inline-block;
}
.registerForm span.warning{
    float: right;
    color: #b10505;
    text-align: center;
    margin: auto;

}
.registerForm>input{
    padding: 10px;
    background-color: #dff2c7;
    border: none;
}
.registerForm>button{
    margin-top: 20px;
    cursor: pointer;
    background-color: #234682;
    border:none;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
}

.reg-login{
    border: none;
    padding: 10px;
    color: #000;
}
.reg-login .link{
    cursor:pointer;
    color: teal;
}
