.login{
    /* height: calc(100vh - 80px); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(255,255,255,.5),rgba(255,255,255,.5)), url("../../assets/img/header.jpg") repeat;
    background-size: cover;
}
.loginTitle{
    font-size: 50px;
}
.loginForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 25%;
    min-width: 300px;
}
.loginForm>label{
    margin: 10px 0;
}
.loginForm>input{
    padding: 10px;
    background-color: #dff2c7;
    border: none;
}
.loginForm>button{
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    border:none;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
}
.loginForm>button:disabled{
    opacity: .5;
    cursor: not-allowed;
}
.login-reg{
    border: none;
    padding: 10px;
    color: #000;
}
.login-reg .link{
    cursor:pointer;
    color: teal;
}
