.singlePost{
    flex:9;
}
.singlePostWrapper{
    padding: 20px;
    padding-right: 0px;
}
.singlePostWrapper>img{
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}
.singlePostTitle{
    text-align: center;
    margin: 10px;
    font-size: 30px;
    
}

.singlePostBtns{
    float: right;
    font-size: 16px;
}
.singlePostIcon{
    margin-left: 10px;
    cursor: pointer;
}

.singlePostIcon:first-child{
    color: teal;
}

.singlePostIcon:last-child{
    color:tomato;
}

.singlePostInfo{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: goldenrod;
}

.singlePostText{
    color:#666;
    font-size: 18px;
    line-height: 25px;
    text-align: justify;
}
.singlePostText::first-letter{
    margin-left: 30px;
    font-size: 30px;
    font-weight: 600;
}

.singlePostCategories{
    display: block;
    margin: auto;
    text-align: center;
}
.singlePostCategories span{
    text-transform: uppercase;
    font-size: 12px;
    color: rgb(36, 45, 136);
}

.singlePostCategories span::after{
    content: " | ";
}
.singlePostCategories span:last-child:after{
    content: "";
}
